.Horario {

    font-size: 70px;
    color: gold;
    text-align: center;
    -webkit-text-stroke-width: 3px ;
    line-height: 100px;

    
    
}
.container{
    border: 10 black;
}
.border{

    border-radius: 10px;
    border: 10px white;
    border-width: 10px;
    padding: 10px;
    background-color: rgb(37, 88, 133);


}
.Titulo{
 
        -webkit-text-stroke-width: 3px ;
        font-size: 70px;
        
}
body{
    background-color:rgb(39, 38, 38);

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 35px;
    color: gold;

    border-color: black;

    -webkit-text-stroke-color: black;
}